Body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.h1spantag {
    color: chartreuse;
}

.flexible-conteiner {
    display: flex;

}

.hufwith {
    width: 50%;

}

.hufwith {
    padding-left: 5%;
}

.hufwith img {
    width: 75%;
}

.Hireme-button {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    margin-bottom: 150px;
}

.top-banner {
    background-repeat: no-repeat;
}

#secountdiv {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#firstdiv {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

.Dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.orange-color {
    color: orange;
}

.Experiences-area {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;


}

.Experiences-background {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
}